<phpunit>
    <testsuites>
        <testsuite name="Deposit">
            <directory suffix="DepositServiceTest.php">./test</directory>
        </testsuite>
    </testsuites>
    <!--
    <testsuites>
        <testsuite name="Operation">
            <directory suffix="Test.php">test</directory>
        </testsuite>
        
        <testsuite name="Output">
            <directory suffix="Test.php">test</directory>
        </testsuite>
       
    </testsuites>
     -->
</phpunit>
